* {
	font-family: "Roboto", sans-serif;
}
.asdk-toolkit {
	font-family: "Barlow Condensed", sans-serif;
	font-size: 4em;
}
.manrope {
	  font-family: "Manrope", sans-serif;
}
code, pre, kbd, .code {
	font-family: "Inconsolata", monospace;
}
.btn:hover {
  box-shadow: 0 2px 5px 0px #00000088;
}
.btn:active {
  /*filter: brightness(70%);*/
  box-shadow: 0 2px 2px 0px #00000044;
}
.loader {
	width: 96px;
	height: 16px;
	display: inline-block;
	background-color: #FFF;
	border: 1px solid #FFF;
	border-radius: 4px;
	background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.25) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.25) 75%, transparent 75%, transparent);
	font-size: 30px;
	background-size: 1em 1em;
	box-sizing: border-box;
	animation: barStripe 1s linear infinite;
}
.shadow-top {
	/* Derived from bootstrap class shadow-sm */
	box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.075);;
}
.footer-icons>a>i {
	font-size: 0.6rem;
}
@keyframes barStripe {
	0% {
	background-position: 1em 0;
	}
	100% {
	background-position: 0 0;
	}
}